@{
    // https://medialoot.com/preview/frame/lumino.html
}
@using Nancy.Security
@using IISLogReader.BLL.Utils
@using System.Collections.Generic
@using System.Linq
@using IISLogReader.Navigation
@using IISLogReader.BLL.Security
@using IISLogReader.BLL.Models
@functions {
    public string MenuActiveClass(string title)
    {
        return (ViewBag.Title.ToString().Contains(title) ? " active" : "");
    }
}
@{
    List<string> currentUserClaims = ViewBag.Claims;
    List<ProjectModel> projects = ViewBag.Projects;
    string currentUserName = ViewBag.CurrentUserName;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="/Content/Css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/Css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/Css/datepicker3.css" rel="stylesheet">
    <link href="/Content/Css/dropzone.min.css" rel="stylesheet">
    <link href="/Content/Css/styles.css" rel="stylesheet">
    <link href="/Content/Css/bootstrap-multiselect.css" rel="stylesheet" type="text/css">
    <link href="/Content/Css/jsgrid.min.css" type="text/css" rel="stylesheet" />
    <link href="/Content/Css/jsgrid-theme.min.css" type="text/css" rel="stylesheet" />
    <link href="/Content/Css/spin.css" type="text/css" rel="stylesheet" />
    <link href="/Content/Css/custom.css?v=@(ViewBag.AppVersion)" rel="stylesheet" type="text/css">
    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Actions.Dashboard.Default"><span>IIS</span>LogReader</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="~/Content/Images/blue-user-50.jpg" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">@currentUserName</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>
        <ul class="nav menu">
            <li class="@(MenuActiveClass("Dashboard"))"><a href="@Actions.Dashboard.Default"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
            @if (projects.Count > 0)
            {
                <li class="parent ">
                    <a data-toggle="collapse" href="#project-menu-items">
                        <em class="fa fa-navicon">&nbsp;</em> Projects
                        <span data-toggle="collapse" href="#project-menu-items" class="icon pull-right menu-toggle"><em class="fa fa-plus fa-minus"></em></span>
                    </a>
                    <ul class="children collapse in" id="project-menu-items">
                        @foreach (var pm in projects)
                        {
                            <li>
                                <a class="" href="@Actions.Project.View(pm.Id)">
                                    <span class="fa fa-arrow-right">&nbsp;</span> @pm.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            @if (currentUserClaims.Contains(Claims.UserList) || currentUserClaims.Contains(Claims.UserAdd))
            {
                <li class="@(MenuActiveClass("Users"))">
                    <a href="@Actions.User.Default"><em class="fa fa-users">&nbsp;</em> Users</a>
                </li>
            }

            <li>
                <a href="@Actions.Login.Logout"><em class="fa fa-power-off">&nbsp;</em> Log out</a>
            </li>
        </ul>
    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        @RenderBody()

    </div>	<!--/.main-->
    <!-- Javascripts -->
    <script src="~/Content/Js/jquery.min.js"></script>
    <script src="~/Content/Js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Content/Js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/Js/modernizr.min.js" type="text/javascript"></script>
    <script src="~/Content/Js/bootstrap-multiselect.js"></script>
    <script src="~/Content/Js/bootbox.min.js"></script>
    <script src="~/Content/Js/bootstrap-datepicker.js"></script>
    <script src="~/Content/Js/dropzone.min.js"></script>
    <script src="~/Content/Js/jsgrid.min.js" type="text/javascript"></script>
    <script src="~/Content/Js/spin.js" type="text/javascript"></script>
    <script src="~/Content/Js/custom.js?v=@(ViewBag.AppVersion)"></script>
    @if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    }
    else
    {
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    }
    @foreach (string script in ViewBag.Scripts)
    {
        <script src="@(script + "?v=" + ViewBag.AppVersion)"></script>
    }

</body>
</html>