@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IISLogReader.ViewModels.Project.ProjectViewViewModel>
@using Nancy.Security
@using IISLogReader.BLL.Data.Models
@using IISLogReader.Navigation
@using IISLogReader.ViewModels
@using IISLogReader.BLL.Utils
@using IISLogReader.BLL.Security
@using System.Collections.Generic
@{
    Layout = "Views/Layouts/MainLayout.cshtml";
    ViewBag.Title = "IISLogReader :: " + Model.ProjectName;
    List<string> currentUserClaims = ViewBag.Claims;
    List<Breadcrumb> breadcrumbs = new List<Breadcrumb>();
    breadcrumbs.Add(new Breadcrumb("Dashboard", Actions.Dashboard.Default));
    breadcrumbs.Add(new Breadcrumb(Model.ProjectName));
}
@Html.Partial("Shared/_BreadcrumbPanel", breadcrumbs)

<div id="content-project-view">
    <div class="row">
        <div class="col-md-6">
            <h1 class="page-header">Project / @Model.ProjectName</h1>
        </div>
        <div class="col-md-6 page-header-buttons">
            <button class="btn btn-danger" aaaav-on:click="onDeleteProjectClick"><i class="fa fa-trash"></i> Delete</button>
            <button class="btn btn-success" v-on:click="onAddProjectFilesClick"><i class="fa fa-plus-circle"></i> Add files</button>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body tabs">
                    <ul id="tab-project" class="nav nav-pills">
                        <li class="active"><a href="#tab-project-files" data-toggle="tab">Files</a></li>
                        <li><a href="#tab-loadtimes" data-toggle="tab">Load Times</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-project-files">
                            @Html.Partial("_ProjectFileTab")
                        </div>
                        <div class="tab-pane fade" id="tab-loadtimes">
                            @Html.Partial("_ProjectLoadTimeTab")
                        </div>
                    </div>
                </div>
            </div><!--/.panel-->
        </div>

    </div>

    <form>
        <input type="hidden" id="projectId" name="projectId" v-model="projectId" value="@Model.ProjectId" />
    </form>
</div>

<!-- MODAL dialog for adding files to the project -->
<div class="modal fade" id="dlg-project-files" tabindex="-1" role="dialog" aria-labelledby="modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add files</h4>
            </div>
            <div class="modal-body">
                <div id="project-msg-error" class="alert alert-danger hidden" role="alert">An error occurred.</div>
                <form action="@Actions.LogFile.Save(Model.ProjectId)" class="dropzone" id="dz-project-files">
                    <input type="hidden" name="ProjectId" value="@Model.ProjectId" />
                </form>
            </div>
            <div class="modal-footer">
                <i id="project-spinner" class="hide fa fa-circle-o-notch fa-spin fa-lg fa-fw pull-right"></i>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>